<div class="flex flex-col h-full pt-6 pb-4 items-center gap-2">
  <div class="w-full max-w-screen-2xl flex justify-between px-6 gap-4">
    <div class="w-6/12 flex flex-col gap-1 justify-center">
      <div class="flex justify-center items-center gap-2">
        <form class="w-full">
          <mat-form-field class="w-full url-field">
            <mat-label>虎之穴本子網址</mat-label>
            <input
              #urlEl
              class="grow"
              matInput
              [formControl]="url"
              placeholder="https://ecs.toranoana.jp/joshi/ec/item/xxxxxxx/"
              value=""
              (keyup.enter)="addToList()"
              [disabled]="fetchLoading()"
            />
            @if (urlEl.value) {
              <button
                mat-icon-button
                matSuffix
                class="text-base !p-1"
                (click)="urlEl.value = ''"
              >
                <mat-icon class="">close</mat-icon>
              </button>
            }
          </mat-form-field>
        </form>
        @if (!fetchLoading()) {
          <button
            class="!flex items-center"
            mat-icon-button
            matTooltip="加入購買清單"
            aria-label="addToList"
            type="button"
            (click)="addToList()"
            [disabled]="!urlEl.value"
          >
            <mat-icon>add</mat-icon>
          </button>
        } @else {
          <div class="flex items-center justify-center p-2.5">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
        }
      </div>

      <app-batch-import-books class="ml-auto"></app-batch-import-books>
    </div>

    <div class="">
      <app-cal-board></app-cal-board>
    </div>
  </div>

  <div
    class="grow min-h-0 flex w-full overflow-auto px-6 relative"
    cdkDropListGroup
  >
    <div class="w-full flex">
      <div
        class="h-full w-4/12 pt-4 relative"
        [style.width.px]="wishTableWidth()"
      >
        <div class="absolute text-xs top-0 left-0 z-30 flex">
          <mat-icon class="text-2xl !flex items-center justify-center">
            bookmark
          </mat-icon>
          願望清單
        </div>
        <app-book-list-table [bookList]="wishList"></app-book-list-table>
      </div>

      <!-- 拖曳寬度 -->
      <div
        class="flex items-center justify-center h-2/3 rounded-full min-w-4 max-w-4 cursor-col-resize mx-1 self-center bg-gray-100 opacity-30 hover:opacity-100 transition-opacity duration-500 !transform-none"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragMoved)="onDrag($event)"
      >
        <div
          class="h-1/6 w-2 border-x-1 border-solid border-x border-gray-200"
        ></div>
      </div>

      <div class="h-full grow min-w-0 pt-4 relative">
        <div class="absolute text-xs top-0 left-0 z-30 flex">
          <mat-icon class="text-2xl !flex items-center justify-center">
            add_shopping_cart
          </mat-icon>
          購買清單
        </div>
        <div class="absolute text-xs top-0 right-6">*為參考欄位</div>
        <app-book-list-table
          class="w-full"
          [bookList]="buyingList"
        ></app-book-list-table>
      </div>
    </div>
  </div>
</div>
