<div class="flex flex-col h-full">
  <div class="w-full flex justify-center items-center gap-2">
    <form class="w-2/4">
      <mat-form-field class="w-full">
        <mat-label>網址</mat-label>
        <input
          class="w-2/4"
          matInput
          [formControl]="url"
          placeholder="https://ecs.toranoana.jp/joshi/ec/item/xxxxxxx/"
          value=""
          (keyup.enter)="addToList()"
        />
      </mat-form-field>
    </form>
    <button (click)="addToList()">+</button>
  </div>

  <div class="grow min-h-0 flex w-full overflow-auto">
    <div class="h-full">
      <app-book-list-table [bookList]="bookList"></app-book-list-table>
    </div>
    <div>
      <app-book-list-table [bookList]="bookList"></app-book-list-table>
    </div>
    <div>
      <app-book-list-table [bookList]="bookList"></app-book-list-table>
    </div>
  </div>
</div>
