<div class="flex flex-col h-full pt-6 pb-4 items-center gap-4">
  <div class="w-full max-w-screen-2xl flex justify-between px-6 gap-4">
    <div class="flex w-6/12 justify-center items-center gap-2">
      <form class="w-full">
        <mat-form-field class="w-full">
          <mat-label>虎之穴本子網址</mat-label>
          <input
            class=""
            matInput
            [formControl]="url"
            placeholder="https://ecs.toranoana.jp/joshi/ec/item/xxxxxxx/"
            value=""
            (keyup.enter)="addToList()"
            [disabled]="fetchLoading()"
          />
        </mat-form-field>
      </form>
      <button
        class="mb-5"
        mat-icon-button
        aria-label="addToList"
        (click)="addToList()"
        [disabled]="fetchLoading()"
      >
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>
    <div class="">
      <app-cal-board></app-cal-board>
    </div>
  </div>

  <div class="grow min-h-0 flex w-full overflow-auto px-6" cdkDropListGroup>
    <div class="w-full flex">
      <div class="h-full w-4/12" [style.width.px]="wishTableWidth()">
        <app-book-list-table [bookList]="wishList"></app-book-list-table>
      </div>

      <!-- 拖曳寬度 -->
      <div
        class="flex items-center justify-center h-2/3 rounded-full min-w-4 max-w-4 cursor-col-resize mx-1 self-center bg-gray-100 opacity-30 hover:opacity-100 transition-opacity duration-500 !transform-none"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragMoved)="onDrag($event)"
      >
        <div
          class="h-1/6 w-2 border-x-1 border-solid border-x border-gray-200"
        ></div>
      </div>

      <div class="h-full grow min-w-0">
        <app-book-list-table
          class="w-full"
          [bookList]="buyingList"
        ></app-book-list-table>
      </div>
    </div>
  </div>
</div>
