<div class="h-full">
  <app-table
    [columns]="columns"
    [data]="bookList()"
    [headerTemplates]="{ estWeight: estWeightHeader }"
    [columnTemplates]="{
      previewImg,
      price,
      bookTitle,
      status,
      stock,
      shippingSchedule,
      bookPages,
      estWeight,
      intlShipFee,
      count,
      totalPrice,
      totalEstWeight,
      totalIntlShipFee,
      action,
    }"
    [dragPreviewTemplateRef]="dragPreviewTemplateRef"
  >
    <ng-template #estWeightHeader>
      <div
        matTooltip="A5: 1.6g/p B5: 2.9g/p"
        matTooltipClass="multiline-tooltip"
      >
        *重量(g)
      </div>
    </ng-template>
    <ng-template #previewImg let-element>
      <div class="flex items-center gap-2 py-1">
        <mat-icon cdkDragHandle class="cursor-move text-gray-400">
          reorder
        </mat-icon>
        <app-update-book-info [book]="element"></app-update-book-info>
        <img [src]="element.previewImg" class="aspect-2/3 w-20" />
      </div>
    </ng-template>

    <ng-template #price let-element>
      @if (
        element.price !== '' &&
        element.price !== null &&
        element.price !== undefined
      ) {
        <span> ¥{{ element.price | number: '1.0-0' }} </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #bookTitle let-element>
      <a [href]="element.url" target="_blank" class="text-gray-600 underline">{{
        element.bookTitle
      }}</a>
    </ng-template>

    <ng-template #status let-element>
      @switch (element.status) {
        @case (BookStatus.IN_STOCK) {
          <div class="rounded-sm bg-green-100 text-center">現貨</div>
        }
        @case (BookStatus.PRE_ORDER) {
          <div class="rounded-sm bg-yellow-100 text-center">預約</div>
        }
        @case (BookStatus.OUT_OF_STOCK) {
          <div class="rounded-sm text-center">-</div>
        }
        @default {
          <div class="rounded-sm text-center">-</div>
        }
      }
    </ng-template>

    <ng-template #stock let-element>
      <span [class]="element.stock | bookStockColor">
        <div class="flex items-center">
          @switch (element.stock) {
            @case (BookStock.SUFFICIENT) {
              <mat-icon class="text-xs !flex items-center justify-center">
                radio_button_checked
              </mat-icon>
              量足
            }
            @case (BookStock.LIMITED) {
              <mat-icon class="text-sm !flex items-center justify-center">
                change_history
              </mat-icon>
              量少
            }
            @case (BookStock.OUT_OF_STOCK) {
              <mat-icon class="text-sm !flex items-center justify-center">
                close
              </mat-icon>
              缺貨
            }
            @default {
              -
            }
          }
        </div>
      </span>
    </ng-template>

    <ng-template #shippingSchedule let-element>
      @if (element.shippingSchedule.length) {
        <div class="flex-col gap-1">
          @for (item of element.shippingSchedule; track $index) {
            <div class="flex text-xs items-center text-start">
              {{ item.type }}：{{ item.shippingDate }}
            </div>
          }
        </div>
      } @else {
        -
      }
    </ng-template>

    <ng-template #bookPages let-element>
      <div>
        @if (element.bookPages) {
          {{ element.bookPages | number }}p
        } @else {
          -
        }
      </div>
    </ng-template>

    <ng-template #estWeight let-element>
      @if (
        element.estWeight !== '' &&
        element.estWeight !== null &&
        element.estWeight !== undefined
      ) {
        <span> {{ element.estWeight | number }}g </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #intlShipFee let-element>
      @if (
        element.estWeight !== '' &&
        element.estWeight !== null &&
        element.estWeight !== undefined
      ) {
        <span>
          NT$
          {{
            element.estWeight * calBoardService.intlFreightPerG()
              | number: '1.0-0'
          }}
        </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #count let-element>
      <div class="flex border-solid border-gray-400 border rounded-sm">
        <button
          class="size-5"
          [disabled]="element.count === 1"
          (click)="decreaseBookCnt(element)"
        >
          -
        </button>
        <input
          class="w-8 text-center focus-visible:outline-none"
          #bookCount
          [value]="element.count"
          (change)="updateBookCnt(element, bookCount)"
        />
        <button class="size-5" (click)="increaseBookCnt(element)">+</button>
      </div>
    </ng-template>

    <ng-template #totalPrice let-element>
      @if (
        element.totalPrice !== '' &&
        element.totalPrice !== null &&
        element.totalPrice !== undefined
      ) {
        <span> ¥{{ element.totalPrice | number: '1.0-0' }} </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #totalEstWeight let-element>
      @if (
        element.totalEstWeight !== '' &&
        element.totalEstWeight !== null &&
        element.totalEstWeight !== undefined
      ) {
        <span> {{ element.totalEstWeight | number }}g </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #totalIntlShipFee let-element>
      @if (
        element.totalIntlShipFee !== '' &&
        element.totalIntlShipFee !== null &&
        element.totalIntlShipFee !== undefined
      ) {
        <span>
          NT$
          {{ element.totalIntlShipFee | number: '1.0-0' }}
        </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #action let-element>
      <div class="flex items-center gap-2 py-1">
        <button (click)="removeBook(element)" matTooltip="刪除">
          <mat-icon class="text-xl text-red-400"> delete </mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-template #dragPreviewTemplateRef let-row>
      <div
        class="w-full flex gap-4 bg-white p-2 border border-solid border-gray-200 rounded-md"
      >
        <img [src]="row.previewImg" class="aspect-2/3 w-20" />
        <div class="flex-col">
          <div class="flex-shrink-0">{{ row.bookTitle }}</div>
          <div class="my-2 flex justify-between">
            <ng-container
              *ngTemplateOutlet="price; context: { $implicit: row }"
            ></ng-container>

            <div>x {{ row.count }}</div>
          </div>
          <div>
            <ng-container
              *ngTemplateOutlet="shippingSchedule; context: { $implicit: row }"
            ></ng-container>
          </div>
        </div>
        <div class="flex flex-col grow text-xs ml-1">
          <div class="text-sm">
            <ng-container
              *ngTemplateOutlet="status; context: { $implicit: row }"
            ></ng-container>
          </div>
          <div class="text-sm">
            <ng-container
              *ngTemplateOutlet="stock; context: { $implicit: row }"
            ></ng-container>
          </div>
          <div class="flex items-center justify-end w-full mt-auto">
            {{ row.bookSize }} / {{ row.bookPages ?? '-' }}p
          </div>
          <div class="flex justify-end w-full">
            <ng-container
              *ngTemplateOutlet="totalEstWeight; context: { $implicit: row }"
            ></ng-container>
          </div>
          <div class="flex justify-end w-full">
            <ng-container
              *ngTemplateOutlet="totalIntlShipFee; context: { $implicit: row }"
            ></ng-container>
          </div>
        </div>
      </div>
    </ng-template>
  </app-table>
</div>
