<div class="h-full">
  <app-table
    [columns]="columns"
    [data]="bookList()"
    [headerTemplates]="{}"
    [columnTemplates]="{
      previewImg,
      price,
      bookTitle,
      status,
      stock,
      estWeight,
      intlShipFee,
      count,
      totalPrice,
      totalEstWeight,
      totalIntlShipFee,
    }"
  >
    <ng-template #previewImg let-element>
      <img [src]="element.previewImg" class="aspect-2/3" />
    </ng-template>

    <ng-template #price let-element>
      @if (
        element.price !== '' &&
        element.price !== null &&
        element.price !== undefined
      ) {
        <span> ¥{{ element.price | number: '1.0-0' }} </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #bookTitle let-element>
      <a [href]="element.url" target="_blank">{{ element.bookTitle }}</a>
    </ng-template>

    <ng-template #status let-element>
      <span>
        {{ element.status | bookStatus }}
      </span>
    </ng-template>
    <ng-template #stock let-element>
      <span [class]="element.stock | bookStockColor">
        {{ element.stock | bookStock }}
      </span>
    </ng-template>

    <ng-template #estWeight let-element>
      @if (
        element.estWeight !== '' &&
        element.estWeight !== null &&
        element.estWeight !== undefined
      ) {
        <span> {{ element.estWeight | number }}g </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #intlShipFee let-element>
      @if (
        element.estWeight !== '' &&
        element.estWeight !== null &&
        element.estWeight !== undefined
      ) {
        <span>
          NT$
          {{
            element.estWeight * calBoardService.intlFreightPerG()
              | number: '1.0-0'
          }}
        </span>
      } @else {
        -
      }
    </ng-template>

    <!-- TODO 數量增減 -->
    <ng-template #count let-element>
      <span>
        {{ element.count }}
      </span>
    </ng-template>

    <ng-template #totalPrice let-element>
      @if (
        element.totalPrice !== '' &&
        element.totalPrice !== null &&
        element.totalPrice !== undefined
      ) {
        <span> ¥{{ element.totalPrice | number: '1.0-0' }} </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #totalEstWeight let-element>
      @if (
        element.totalEstWeight !== '' &&
        element.totalEstWeight !== null &&
        element.totalEstWeight !== undefined
      ) {
        <span> {{ element.totalEstWeight | number }}g </span>
      } @else {
        -
      }
    </ng-template>

    <ng-template #totalIntlShipFee let-element>
      @if (
        element.totalIntlShipFee !== '' &&
        element.totalIntlShipFee !== null &&
        element.totalIntlShipFee !== undefined
      ) {
        <span>
          NT$
          {{ element.totalIntlShipFee | number: '1.0-0' }}
        </span>
      } @else {
        -
      }
    </ng-template>
  </app-table>
</div>
